// Sample Component

.sample
    height: 100vh
    display: grid
    place-items: center

    &__attribution
        margin-top: 3rem

        li
            margin: 1rem 0
            color: $color-text-secondary
